.cabecalho{
    background-color: blueviolet;
    color: white;
}

.campo-erro{
    border: 2px solid red !important;
}

.campo-erro:focus{
    border-color: red;
}

.mensagem-erro{
    margin-top: 5px;
    color: red;
    font-size: 14px;
}